$small: 550px;
$medium: 768px;
$large: 900px;

.main-banner {
	@media screen and (max-width: $small) {
		.banner-height {
			height: 100px;
		}
		.header-title {
			font-size: 16px;
		}
	}
	@media screen and (min-width: $medium) {
		.banner-height {
			height: 155px;
		}
		.header-title {
			font-size: 20px;
		}
	}
	@media screen and (min-width: $large) {
		.banner-height {
			height: 325px;
		}
		.header-title {
			font-size: 2.5em;
		}
	}
}
.tips-carousel-main {
	@media screen and (max-width: $small) {
		.tips-title {
			width: 100%;
		}
		.tips-label {
			margin-left: 0px;
		}
		.img {
			width: 80px;
			height: 80px;
			margin-top: 0px;
		}
		.tank-filters {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.tank-filters-main {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	@media screen and (min-width: $medium) {
		.tips-title {
			width: calc(100% - 350px);
		}
		.tips-label {
			margin-left: 50px;
		}
		.img {
			width: 150px;
			height: 150px;
			margin-top: 11px;
		}
		.tank-filters {
			display: block;
		}
		.tank-filters-main {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	@media screen and (min-width: $large) {
		.tips-title {
			width: calc(100% - 350px);
		}
		.tips-label {
			margin-left: 50px;
		}
		.img {
			width: 150px;
			height: 150px;
			margin-top: 11px;
		}
		.tank-filters {
			display: block;
		}
		.tank-filters-main {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.modal-main-class {
	@media screen and (max-width: $small) {
		.modal-main {
			display: block;
		}
	}
	@media screen and (min-width: $medium) {
		.modal-main {
			display: flex;
		}
	}
	@media screen and (min-width: $large) {
		.modal-main {
			display: flex;
		}
	}
}
