$small: 550px;
$medium: 768px;
$large: 900px;

.main-banner {
	@media screen and (max-width: $small) {
		.banner-height {
			height: 100px;
		}
	}
	@media screen and (min-width: $medium) {
		.banner-height {
			height: 155px;
		}
	}
	@media screen and (min-width: $large) {
		.banner-height {
			height: 325px;
		}
	}
}
.tips-carousel-main {
	@media screen and (max-width: $small) {
		.tips-title {
			width: 100%;
		}
		.tips-label {
			margin-left: 0px;
		}
		.img {
			width: 80px;
			height: 80px;
			margin-top: 0px;
		}
		.tank-filters {
			display: none;
		}
	}
	@media screen and (min-width: $medium) {
		.tips-title {
			width: calc(100% - 350px);
		}
		.tips-label {
			margin-left: 50px;
		}
		.img {
			width: 150px;
			height: 150px;
			margin-top: 11px;
		}
		.tank-filters {
			display: block;
		}
	}
	@media screen and (min-width: $large) {
		.tips-title {
			width: calc(100% - 350px);
		}
		.tips-label {
			margin-left: 50px;
		}
		.img {
			width: 150px;
			height: 150px;
			margin-top: 11px;
		}
		.tank-filters {
			display: block;
		}
	}
}
